/* RESET CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Helvetica, Arial, sans-serif;
}
/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
*/
/* 
1. Vị trí
2. Kích thước (width, height) 
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, vuông,...)
 */
#main{

}
#header{
    height: 46px;
    background-color: #000;

}
#nav{

}
#nav li{
    display: inline-block;
}
#nav .subnav{
    display: none;
}
#nav li a{
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    
}
#nav li:hover a{
    color: #000;
    background-color: #ccc;
}



#slider{

}
#content{

}
#footer{

}